<style> 
    h2{
        color: #5d5746;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
     text-align: center;
    }
    
    h3{
        color: #5d5746;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    }

    p{
        text-align: left;
        color: #7a725c;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

    }

    .movieInformation{
        text-align: left;
        color: #7a725c;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
   
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>

<h2>Show Information containing <%= movie.id %> </h2>
<hr> 

<h3> <%= movie.title %></h3> 
<h3> <%= movie.original_title %></h3>
<p> 
    <Text class="movieInformation"> Director: </Text> <%= movie.director %>       
    <br> 
    <Text class="movieInformation"> Release Year: </Text><%= movie.release_date %>
    <br> 
    <Text class="movieInformation"> Movie Description: </Text> <%= movie.description %>
</p>

<img 
    class="center"   
    src= "<%= movie.image %>"
    alt="Movie Image"
/>







