<style> 

    h1{
        color: #CAF0F8;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cardbox{
        background-color: #cad9f8;
    }

    .championName{
        margin:auto;
        margin-top: 30px;
        color: #03045E;
    }

    h3{
        margin:auto;
        margin-bottom: 30px;
        color: #cad9f8;
        text-align: center;
    }

    .button{
        background-color: #0096C7;
        color: #CAF0F8;
        width: 20%;
        margin-left: 40%;
        margin-right: 30%;
       
    }

    .runesImage{
      width: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 35px;
    }


</style>

<h1> View the Runes </h1> 

<div class="card mb-3 cardbox" style="margin: auto; max-width: 500px;  ">
  <div class="row g-0">
    <div class="col-md-4">
      <% const Domination = "https://ddragon.canisback.com/img/perk-images/Styles/7200_Domination.png"%>
      <img src="<%=Domination%>" class="runesImage " alt="..."> 
     
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title championName"> Domination  </h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 cardbox" style="margin: auto; max-width: 500px; ">
  <div class="row g-0">
    <div class="col-md-4">
    
      <% const Inspiration = "https://ddragon.canisback.com/img/perk-images/Styles/7203_Whimsy.png"%>
      <img src="<%=Inspiration%>" class="img-fluid rounded-start runesImage" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title championName"> Inspiration </h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 cardbox" style="margin: auto; max-width: 500px; ">
  <div class="row g-0">
    <div class="col-md-4">
    
      <% const Precision = "https://ddragon.canisback.com/img/perk-images/Styles/7201_Precision.png"%>
      <img src="<%=Precision%>" class="runesImage" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title championName"> Precision </h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 cardbox" style="margin: auto; max-width: 500px; ">
  <div class="row g-0">
    <div class="col-md-4">
    
      <% const Sorcery = "https://ddragon.canisback.com/img/perk-images/Styles/7202_Sorcery.png"%>
      <img src="<%=Sorcery%>" class="rounded-start runesImage" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title championName"> Sorcery </h5>
      </div>
    </div>
  </div>
</div>



<div class="card mb-3 cardbox" style="margin: auto; max-width: 500px; ">
  <div class="row g-0">
    <div class="col-md-4">
    
      <% const Resolve = "https://ddragon.canisback.com/img/perk-images/Styles/7204_Resolve.png"%>
      <img src="<%=Resolve%>" class="img-fluid rounded-start runesImage" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title championName"> Resolve </h5>
      </div>
    </div>
  </div>
</div>
<br> 

<h3> Click below to view list of runes</h3>
<a href="/infoRunes" class="btn button">Click for more!</a>
<br> 





  


